.search-bar {
  position: relative;
  height: 2.3rem;
  width: 69rem;
  margin: 5rem 0rem 0rem 6rem;
  background-color: rgb(217, 217, 217);
  border: 0;
  font-size: 1.5rem;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
}
.searchButton {
  margin-top: 5rem;
  white-space: nowrap;
}

@media all and (max-width: 414px) {
  .search-bar {
    width: 85%; /* Resize the search bar to 85% of the viewport width */
    margin-right: 1rem;
  }

  .searchButton {
    margin-top: 5rem;
    margin-right: 6.7rem;
    white-space: nowrap;
  }
}
