.search-bar {
  height: 2.2rem;
  width: 65rem;
  margin: 2rem 0rem 0rem 6rem;
  background-color: rgb(217, 217, 217);
  border: 0;
  font-size: 1.5rem;
}

.searchBox {
  display: flex;
}

.searchButton {
  margin-top: 2rem;
  white-space: nowrap;
}
