.date-box-wrapper {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 5rem;
  height: 4.5rem;
  border-radius: 30%;
  background-color: rgb(217, 217, 217);
}

.date-box-wrapper p {
  margin: 5%;
  padding: 2%;
}
