.date-box-wrapper {
  /* font-size: 23px; */
  font-size: clamp(1.8rem, 1.7vw, 2rem);
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: clamp(5rem, 4.5vw, 5.5rem);
  height: 4.8rem;
  border-radius: 30%;
  background-color: rgb(217, 217, 217);
}

.date-box-wrapper p {
  margin: 5%;
  padding: 2%;
}

@media all and (max-width: 414px) {
  .date-box-wrapper {
    font-size: 1rem;
    height: 3rem;
    width: 3.2rem;
  }
}
