.edit-button-wrapper {
  display: inline-block;
  position: absolute;
  left: clamp(60rem, 80vw, 65rem);
  margin-top: 2.1rem;
}

.mobile-edit-button {
  display: none;
}

@media only screen and (max-width: 414px) {
  .edit-button-wrapper {
    display: none;
  }

  .mobile-edit-button {
    display: flex;
    position: relative;
  }

  .mobile-edit {
    font-size: 0.6rem;
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 228, 136);
    left: 10rem;
    bottom: 0.7rem;
    border-radius: 5px;
    border: 1px solid #020a07;
  }

  .mobile-delete {
    font-size: 0.6rem;
    position: absolute;
    left: 24rem;
    bottom: 0.7rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid #020a07;
  }
}
