.fighter-place-time-wrapper {
  display: inline-block;
}

.fighters {
  font-size: clamp(1rem, 2.8vw, 1.8rem);

  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.place-time {
  text-align: left;
  margin-top: 0.1rem;
  margin-left: 1rem;
  font-size: clamp(0.6rem, 1.8vw, 1.1rem);
}

.icon {
  margin: 0.5rem 0.2rem 0rem 0.7rem;
}

.bolder {
  font-weight: bold;
  font-size: inherit;
}

@media all and (max-width: 414px) {
  .fighters {
    padding-top: 1.2rem;
  }
}
