.edit-button-wrapper {
  display: inline-block;
  position: absolute;
  left: clamp(80rem, 65vw, 115rem);
  margin-top: 2.1rem;
}

.edit-button {
  white-space: nowrap;
  background-color: rgb(205, 232, 128);
}
