.vertical-nav {
  display: inline-block;
  align-items: start;
  flex-direction: column;
  background-color: rgb(24, 34, 46);
  height: 100vh;
  width: 100%;
}

.vertical-nav ul {
  list-style: none;
}

.title {
  color: white;
  font-size: 3rem;
  float: left;
  margin: 0.7rem 2rem;
}

.vertical-nav h3 {
  color: rgb(205, 235, 128);
  font-size: 1rem;
  float: left;
  margin: 3.5rem -13.7rem;
  top: 2px;
  left: 0;
}

.vertical-nav ul {
  list-style: none;
  display: block;
}

.vertical-nav li {
  font-size: 1.4rem;
  float: right;
  margin: 1.5rem 1.4rem;
  color: rgb(255, 255, 255);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  position: relative;
  left: -1rem;
  font-weight: bold;
}
