.newScheduleBox {
  height: 28rem;
  width: 68rem;
  margin: 1rem auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  border-color: rgb(180, 180, 180);
  border-radius: 60px;
}

form {
  margin: 2rem;
}

@media only screen and (max-width: 414px) {
  .newScheduleBox {
    width: 27rem;
    height: 24rem;
  }
}
