.newScheduleBox {
  height: 32vh;
  width: 145vh;
  margin: 1rem 2rem;
  margin-bottom: 0rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  border-color: rgb(180, 180, 180);
  border-radius: 60px;
}

form {
  margin: 2rem;
}
