.count-down {
  position: absolute;
  display: inline-flex;
  color: rgb(181, 65, 64);
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 900;
  left: clamp(24.5em, 60vw, 27em);
  white-space: nowrap;
}

@media all and (max-width: 414px) {
  .count-down {
    margin-top: 2.2rem;
    margin-left: 0.2rem;
  }
}
