.newFighterBox {
  height: 28rem;
  width: clamp(58rem, 50vw, 68rem);
  margin: 1.5rem auto;

  background-color: rgb(255, 255, 255);
  border: 2px solid;
  border-color: rgb(180, 180, 180);
  border-radius: 60px;
}

form {
  margin: 2rem;
}

@media only screen and (max-width: 800px) {
  .newFighterBox {
    width: 40rem;
    height: 24rem;
  }
}

@media only screen and (max-width: 414px) {
  .newFighterBox {
    width: 27rem;
    height: 24rem;
  }
}
