.button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 78rem;
}

@media only screen and (max-width: 414px) {
  .button {
    display: block;
    width: 10rem;
    margin: auto;
  }
}
