.horizontalNavStyle {
  position: fixed;
  width: 100%;
  height: 9rem;
  z-index: 1000;
  background-color: rgb(24, 34, 46);
}

.contentWrapperStyle {
  padding-top: 4rem;
}

@media all and (max-width: 800px) {
  .horizontalNavStyle {
    height: 4rem;
    width: 100vw;
  }
}
