.search-bar {
  position: relative;
  height: 2.3rem;
  width: clamp(35em, 50vw, 42em);
  margin: 5rem 0rem 0rem 6rem;
  background-color: rgb(217, 217, 217);
  border: 0;
  font-size: 1.5rem;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
}
.searchButton {
  margin-top: 5rem;
  white-space: nowrap;
}

@media all and (max-width: 800px) {
  .search-bar {
    margin-top: 0rem;
    position: relative;
    width: 60vw;
    height: 32.83px;
  }
  .searchButton {
    margin-top: 0rem;
    margin-right: 6.1rem;
    white-space: nowrap;
  }
}

@media all and (max-width: 414px) {
  .search-bar {
    margin-top: 0rem;
    position: relative;
    width: 70vw;
    height: 32.83px;
  }
  .searchButton {
    margin-top: 0rem;
    margin-right: 6.1rem;
    white-space: nowrap;
  }
}
