.edit-button-wrapper-fighter {
  display: inline-block;
  position: absolute;
  left: 80%;
  margin-top: -2.2rem;
  white-space: nowrap;
}

@media only screen and (max-width: 414px) {
  .edit-button-wrapper-fighter {
    display: none;
  }

  .mobile-edit-button {
    display: flex;
    position: relative;
  }

  .mobile-edit {
    font-size: 10px;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 113, 186);
    left: 22rem;
    bottom: 0.7rem;
    border-radius: 5px;
  }

  .mobile-delete {
    font-size: 10px;
    position: absolute;
    left: 24.2rem;
    bottom: 0.7rem;
    border-radius: 5px;
    background-color: rgb(194, 50, 50);
    color: white;
  }
}
